<div class="container-fluid bg-dark">
<!-- navigation bar -->
<div class="container">
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">Get Inspired</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#quotes">Quotes</a>
          </li>         
        </ul>        
      </div>
    </div>
  </nav>
</header>
<!-- end of navbar -->
<app-slider></app-slider>  
<!-- end of sliding quotes -->     
  </div>
</div>
<div class="container heading">
  <h2>{{heading}}</h2>
  <hr>
</div>
<div class="container">
  <div class="row">
    <!-- Quotes form -->
    <div class="col-md-4">
      <app-quotes-form></app-quotes-form>
    </div>
     <!--Quotes  -->
     <div class="col-md-8">
      <app-quotes></app-quotes>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
