<div class="container">
<!-- navigation bar -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">Get Inspired</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#quotes">Quotes</a>
          </li>         
        </ul>        
      </div>
    </div>
  </nav>
</header>
<!-- end of navbar -->
  
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="wrapper">
        <img [src]="image.src" alt="Random first slide"  class="carousel-image" >
      </div>
      <div class="carousel-caption">
        <h3>{{ image.title }}</h3>        
      </div>
    </ng-template>
  </ngb-carousel>
      
  </div>
<!-- end of sliding quotes -->

<router-outlet></router-outlet>
