<div id="quotes"class="row">
<div class="col-md-5">
  <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>  
</div>
<div class="col-md-7">
<div *ngFor="let Quotes of quotes; let i = index" class="card">
  <div class="card-header bg-dark text-light">
    Quote from {{Quotes.name}}
  </div>
  <div class="card-body">
    <p class="card-text">
    <app-quotes-details [quotes]='Quotes' (isDelete)="deleteQuote($event,i)" *ngIf='Quotes.showQuoteSaid' ></app-quotes-details></p>  
    <button (click)="viewDetails(i)" class="btn btn-dark">{{buttonText?"View":"Hide"}}</button>
  </div>
  <div *ngIf='Quotes.showQuoteSaid'class="card-footer text-muted card-pipe">
    {{Quotes.datePosted| date}}
  </div>
</div>
</div>
</div>
